*.sln
.vs/
_ReSharper.Caches/
Saved/
Intermediate/
Plugins/PhotonCloudAPI/Binaries/
*.user
Bin/
Binaries/
Build/
enc_temp_folder/
ThirdPerson_Photon/ThirdPerson_Photon/Plugins/
AmongClouds/Content/StarterBundle/
AmongClouds/RawAssets/
AmongClouds/Plugins/PhotonCloudAPI
PhotonVR/Plugins/PhotonCloudAPI
PhotonVR/WindowsNoEditor/
PhotonNetworkingFeat/Plugins/
